body{
    background-color: rgba(253, 229, 229, 0.904); /*fond jaune*/
    margin: 3%;
}

#banniere{
    width: 100%;
    background-color: gray;
    border: solid;
    padding: 1%;
}

.navigation{
    border: solid;
    background-color: gray;
    text-align: center;
    position: relative;
    width: 15%;
    font-size: 100% ;
    padding: 1%;
}