body{
    background-color: rgb(207, 204, 204);
    margin: 0;
    padding: 3%;
}

/* BANNIÈRE */
#banniere{
    position: relative;
    width: 100%;
    background-color: rgb(252, 235, 235);
    border: solid;
    box-shadow: 5px 2px 5px rgb(51, 51, 51);
    border-radius: 30px;
    overflow: hidden;
}

#banniere img{
    width: 100%;
    height: auto;
}

/* TEXTE SUR L'IMAGE */
#texte_bannière{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    mix-blend-mode: difference;
    font-size: 5vw;
    text-align: center;
    z-index: 10;
}

/* NAVIGATION */
.navigation{
    margin-top: 30px;
    border: solid;
    background-color: rgb(252, 235, 235);
    text-align: center;
    padding: 20px;
    box-shadow: 5px 2px 5px rgb(51, 51, 51);
    border-radius: 30px;
    font-size: 2.5vh;
}

/* CONTENU */
.contenu{
    margin-top: 30px;
    border: solid;
    background-color: rgb(252, 235, 235);
    text-align: center;
    padding: 30px;
    box-shadow: 5px 2px 5px rgb(51, 51, 51);
    border-radius: 30px;
}

.contenu h1{
    font-size: 350%;
    text-decoration: underline;
}

.contenu h2{
    font-size: 200%;
    text-decoration: underline;
}

.contenu p{
    font-size: 120%;
}
