body{
    background-color: rgba(253, 229, 229, 0.904); /*fond jaune*/
    margin: 3%;
}

#banniere{
    width: 100%;
    background-color: gray;
    border: solid;
    padding: 1%;
    z-index: 15;
}
#texte_bannière{
    z-index: 1;
    position: relative;
    text-align: center;
    color: white;
    top: 30vh;
    mix-blend-mode: difference;
}

.navigation{
    border: solid;
    background-color: gray;
    text-align: center;
    position: relative;
    width: 15%;
    font-size: 100% ;
    padding: 1%;
}