/* --- GENERAL --- */
body{
    background-color: rgb(207, 204, 204);
    margin: 3%;
}

/*Bannière*/
.container_banniere{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

#banniere {
    position: relative; /* nécessaire pour positionner le texte dessus */
    width: 100%;
    background-color: rgb(252, 235, 235);
    border: solid;
    display: block;
    box-shadow: 5px 2px 5px rgb(51, 51, 51);
    border-radius: 30px;
    padding: 0; /* retirer le padding qui décale l'image */
    overflow: hidden; /* empêche les débordements */
}

#banniere img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 30px;
}
#texte_banniere {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 8vw; /* responsive ! */
    font-family: fantasy;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px black;
    white-space: nowrap; /* évite les retours à la ligne */
}

/*conteneur nav et contenu*/
.main{
    display: flex;
    gap: 2%;
    margin-top: 40px;
    text-align: center;
}

/*Navigation*/
.navigation{
    flex: 0.3;
    border: solid;
    background: rgb(252, 235, 235);
    padding: 1%;
    height: 50%;
    border-radius: 30px;
    align-items: center;
    box-shadow: 5px 2px 5px rgb(51, 51, 51);
}

.navigation p{
    font-size: 2.5vw;
}

/*Contenu*/
.contenu{
    flex: 1;
    border: solid;
    background: rgb(252, 235, 235);
    padding: 1%;
    border-radius: 30px;
    align-items: center;
    box-shadow: 5px 2px 5px rgb(51, 51, 51);

}
.contenu h1{
    font-size: 300%;
    text-decoration: underline;
}
.contenu h2{
    font-size: 200%;
    text-decoration: underline;
}
.contenu p{
    font-size: 175%;

/* Colonne droite : navigation */
.navigation{
    flex: 1;
    border: solid;
    background-color: rgb(252, 235, 235);
    padding: 20px;
    text-align: center;
    box-shadow: 5px 2px 5px rgb(51, 51, 51);
    border-radius: 30px;
}

/* --- RESPONSIVE SMARTPHONE --- */
@media (max-width: 900px){
    .layout{
        flex-direction: column; /* empile les blocs */
    }

    #texte_bannière{
        font-size: 8vw;
    }
}
