/* --- GENERAL --- */
body{
    background-color: rgb(233,177,205,0.8);
    margin: 3%;
    
}

/*Bannière*/
.container_banniere{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

#banniere {
    position: relative; /*position relative*/
    width: 100%; /*taille 100ù de la div*/
    background-color: rgb(252, 235, 235);
    border: solid;
    display: block; /* pour dire que c'est un block (une sous div responsive)*/
    box-shadow: 5px 2px 5px rgb(51, 51, 51);
    border-radius: 30px;
    padding: 0; /* retirer le padding qui décale l'image */
    overflow: hidden; /* empêche les débordements */
}

/*dimentions et attributs de la bannière*/
#banniere img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 30px;
}
#texte_banniere {
    position: absolute; /* position en absolute*/
    top: 30%; /*décalage de 30% du bord*/
    left: 50%; /*décalage de 50% de la gauche*/
    transform: translate(-50%, -50%); /* position toujours centré (plus précis que top et left)*/

    color: white;
    font-size: 8vw; /*taille du texte qui s'addapte à la taille de l'écran (plus précit que les % )*/
    /* Mise en forme de l'écriture*/
    font-family: fantasy; 
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px black;
    white-space: nowrap; /* évite les retours à la ligne */
}

/*conteneur nav et contenu (la grande div qui contient tout)*/
.main{
    display: flex;
    gap: 2%;
    margin-top: 40px;
    text-align: center;
}

/*Navigation*/
.navigation{
    flex: 0.2; /* taille de la div dans la grande div*/

    /* estétique de la div*/
    border: solid;
    background: rgb(252, 235, 235);
    padding: 1%; 
    height: 50%;
    border-radius: 30px;
    align-items: center;
    box-shadow: 5px 2px 5px rgb(51, 51, 51);
}

.navigation .box{
    font-size: 1vw; /* taille de l'écriture en fonction de la taille de l'écran*/
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgb(233,177,205,0.8);
}

#nounderline{
    text-decoration: none;
}

/*Contenu*/
.contenu{
    flex: 1; /*taille de la div dans la plus grande*/
    border: solid;
    background: rgb(252, 235, 235);
    padding: 1%;
    border-radius: 30px;
    align-items: center;
    box-shadow: 5px 2px 5px rgb(51, 51, 51);

}
.contenu h1{
    font-size: 200%;
    text-decoration: underline;
}
.contenu h2{
    font-size: 150%;
    text-decoration: underline;
}
.contenu p{
    font-size: 100%;
}
